html, body {
	margin: 0; 
	padding: 0; 
	font-size: 16px; 
	line-height: 18px; 
	color: #fff; 
	font-weight: bold; 
	font-family: "Robot", "Arial", sans-serif; 
	background: #849d8f;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 1140px;
	margin: 0px auto;
	padding: 0;
	

}

/*Style for slider*/
body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;

}
.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("slide-2.png");
}

.site-wrapper:after {
  background-image: url("slide-3.png");
}

.content-wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.slide {
  display: none;

}

.slide-title {
  width: 840px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-weight: 800;
  font-size: 60px;
  line-height: 70px
}

.slide-btn {
  display: inline-block;
  margin-top: 5px;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");

}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

/*Style for header*/

.main-header {
	margin-bottom: 30px;
}
.mini-logo {
	float: left;
	padding-top: 15px;
	margin-right: 15px;
}
.menu-left {
	float: left;
	margin-top: 25px;
	padding: 0px;
	min-height: 76px;
	width: 700px;
}
.main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-menu > li {
	position: relative;
	display: inline-block;
	min-height: 76px;
	white-space: nowrap;
}
.main-navigator a {
	display: block;
	padding: 10px;
	color: white;
	font-size: 16px
	line-height: 18px;

}
.menu a:hover {
	color: black;
	font-weight: bold;
	border-radius: 15px;
	background: white;
	text-decoration: none;
}

.show:hover {
	background: #d07058; 
	border-radius: 15px;
	text-decoration: none;
}
.main-menu .show:active {
	box-shadow:inset 0 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.main-navigator .sub-menu {
	position: absolute;
	display: none;
	width: 144px;
	top: 45px;
	left: -8px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	list-style: none;
	background: white;
	border-radius: 5px;
	box-shadow: 0 10px 12px 3px rgba(0, 0, 0, 0.5);
	z-index: 100;
}


.main-navigator .sub-menu a {
	color: black;
	text-decoration: none;
}
.sub-menu ul {
	padding: 0 10px;
	box-sizing: border-box;
}
.sub-menu .line {
	font-weight: bold;
	border-bottom: 1px solid #000;
}
.main-navigator .sub-menu a:hover {
	background: #fbded7;
	border-radius: 0;
	font-weight: normal;
}
.main-navigator .sub-menu a:active {
	background: #f6b5a5;
}
.main-menu li:hover .sub-menu {
	display: block;
}
/*Необходим подбор правильных селекторов*/ .sub-menu .ice-assortment a{
	
}

/*Style for menu right*/
.menu-right {
	display: inline-block;
	min-height: 76px;
	width: 265px;
	padding-top: 20px;
}
.search {
	width: 32px;
	height: 32px;
	padding: 0; 
	margin: 0;
	background: #a1b4a9;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	text-align: center;
	border-radius: 50%;
}

input[type="search"] {
	display: none;
	
}

input[type="submit"] {
	display: none;
}

.menu-right a {

}

/*Style for body*/

.promo {
	width: 100%;
	margin-bottom: 40px;
	padding: 0;

}
.section-left {
	float: left;
	width: 560px;
	height: 229px;
	padding: 0;
	margin: 0;
	background: url("../img/raspberries-background.png") no-repeat;
}
.section-right {
	float: right;
	width: 560px;
	height: 229px;
	padding: 0;
	margin: 0;
	background: url("../img/chocolate.png") no-repeat;
}
.info-content {
	padding: 10px 20px 5px 20px;
}
.promo p {
	padding: 0 30px 0 20px;

}
.get-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-sizing: border-box;
}
.get-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.get-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.promo a{
	margin-right: 20px;
	margin-top: 40px;
	padding: 10px 20px 10px 20px;
	float: right;
}
.range {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 40px;

}
.ice-cream {
	position: relative;
	float: left;
	width: 25%;
	height: 330px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto Medium", "Arial", sans-serif;
	text-align: center;
}
.ice-cream img {
	margin: 0 auto;
}
.hit::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 61px;
	height: 61px;
	background: url("../img/hit.png") no-repeat;
	
}
.ice-cream:nth-child(4n) {
	margin-right: 0px;
}
.ice-cream:hover {
	background: #aebeb4;
	box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}


.advantages {
	width: 100%;
	margin-bottom: 40px;
	padding: 10px 0 0 20px;
	background-image: url("../img/wafer-background.jpg");
	color: black;
	box-sizing: border-box;
	border-radius: 15px;
}
.advantages-content {
	float: left;
	width: 50%;	
	margin: 0;
	padding: 22px 20px 25px 62px;
	box-sizing: border-box;
}
.iconica1 {
	background: no-repeat;
	background-image: url("../img/ice-cream.png");
}
.iconica2 {
	background: no-repeat;
	background-image: url("../img/leaf.png");
}
.iconica3 {
	background: no-repeat;
	background-image: url("../img/cow.png");
}
.iconica4 {
	background: no-repeat;
	background-image: url("../img/thermometer.png");
}
.block {
	width: 100%;
	margin-bottom: 40px;

}
.news {
	float: left;
	width: 560px;
	height: 220px;
	color: black;
	background: url("../img/strawberry-background.jpg") no-repeat;
	border-radius: 15px;
}
.news div {
	padding: 30px 0px 15px 20px;
}
.news a {
	padding-left:20px;
	font-size: 25px;
	line-height: 30px;
}
.subscription{
	float: right;
	width: 560px;
	height: 220px;
	color: black;
	background: url("../img/post-background.jpg") no-repeat;
	border-radius: 15px;
}
.subscription div{
	padding: 40px 25px 0 25px;
}


/*Style for catalog.html body*/

}
.breadcrumbs {
	width: 350px;

}
.breadcrumbs li{
	display: inline-block;
	width: 95px;
	min-height: 25px;

}

.fillers {
	width: 900px;
	height: 130px;
	margin-bottom: 38px;
}
.set-sorting {
	display: inline-block;
}

.buttons {
	float: right;
}
.buttons ul li {
	display: inline-block;
}

.coordinates {
	position: relative;
}
.address a {
	
}
.map {
	
	z-index: 2;
}

.address {
	position: absolute;
	top: 62px;
	right: 25px;
	width: 302px;
	height: 304px;
	border-radius: 15px;
	z-index: 3;
	color: black;
	background: white;
}

/*Style for footer*/

.main-footer {
	margin-top: 35px;
}
.footer-social {
	float: left;
	width: 185px;
	padding: 0 20px;
}
.social-btn {
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 0;
	text-decoration: 0;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .5);
	-moz-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .5);
	-webkit-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .5);
}

.social-btn:hover {
	box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85);
	-moz-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85);
	-webkit-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85);

}
.social-btn:active {
	box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85), inset 0px 2px 1px 1px rgba(154, 154, 154, 1);
	-moz-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85), inset 0px 2px 1px 1px rgba(154, 154, 154, 1);
	-webkit-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85), inset 0px 2px 1px 1px rgba(154, 154, 154, 1);

}
.social-tw {
	background: url("../img/twiter.png") no-repeat center;
}
.social-inst {
	background: url("../img/inst.png") no-repeat center;
}
.social-fb {
	background: url("../img/fb.png") no-repeat center;
}
.social-vk {
	background: url("../img/vk.png") no-repeat center;
}


.footer-documentation {
	float: left;
	width: 330px;
}
.footer-copyright {
	float: right;
	width: 190px;
}


/*	box-shadow: inset 0px 0px 0px 4px rgba(194, 206, 199, 0.5);
	-moz-box-shadow: inset 0px 0px 0px 4px rgba(194, 206, 199, 0.5);
	-webkit-box-shadow: inset 0px 0px 0px 4px rgba(194, 206, 199, 0.5);*/