html, body {
	margin: 0; 
	padding: 0; 
	font-size: 16px; 
	line-height: 18px; 
	color: #fff; 
	font-weight: bold; 
	font-family: "Roboto", "Arial", sans-serif; 
	background: #849d8f;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 1140px;
	margin: 0px auto;
	padding: 0;
	

}

/*Style for slider*/
body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("slide-2.png");
}

.site-wrapper:after {
  background-image: url("slide-3.png");
}

.content-wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.slide {
  display: none;

}

.slide-title {
  width: 840px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-weight: 800;
  font-size: 60px;
  line-height: 70px
}

.slide-btn {
  display: inline-block;
  margin-top: 5px;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls label:hover {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: #a1b4a9;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");

}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

/*The end*/

/*Style for header*/

.main-header {
	margin-bottom: 30px;
}
.mini-logo {
	float: left;
	padding-top: 15px;
	margin-right: 15px;
}
.menu-left {
	float: left;
	margin-top: 25px;
	padding: 0px;
	min-height: 76px;
	width: 700px;
}
.main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-menu > li {
	position: relative;
	display: inline-block;
	min-height: 76px;
	white-space: nowrap;
}

.main-menu > li > a {
	display: inline-block;
	margin-right: 10px;
	padding: 10px;
	color: white;
	font-size: 16px
	line-height: 18px;
	text-decoration: none;
	
}

.main-menu > li > a:hover {
	padding: 10px;
	color: black;
	font-weight: bold;
	border-radius: 20px;
	background: white;
	text-decoration: none;
}
.main-menu > li > a::after {
	display: block;
	content: " ";
	height: 1px;
	padding-top: 0;
	background: rgba(256, 256, 256, 0.3);
}
/*Catalog menu hover*/
.main-menu .catalog-menu{
	padding: 10px;
	background: #d07058; 
	border-radius: 20px;
	text-decoration: none;
}
.main-menu .catalog-menu::after {
	display: none;
}
.main-menu > li > a:active {
	color: black;
	border-radius: 20px;
	background: white;
	text-decoration: none;
	box-shadow:inset 0 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/*Style for sub-menu*/
.main-menu .sub-menu {
	position: absolute;
	display: none;
	width: 144px;
	top: 45px;
	left: -8px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	list-style: none;
	background: white;
	border-radius: 5px;
	box-shadow: 0 10px 12px 3px rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.main-menu > li:hover .sub-menu {
	display: block;
	padding: 0;
	margin: 0;
}

.sub-menu li:first-child {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.sub-menu a {
	display: block;
	padding: 10px 15px;
	color: black;
	text-decoration: none;
}

a.new {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 0;
}
.sub-menu .ice-assortment:hover {
	padding: 10px 15px;
	background: #fbded7;
	border-radius: 0;
	font-weight: normal;
}

.sub-menu .ice-assortment:active {
	background: #f6b5a5;
}

/*Style for menu right*/
.menu-right {
	float: right;
	min-height: 76px;
	width: 265px;
	padding-top: 20px;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}

.login {
	position: relative;
	display: inline-block;
	width: 60px;
	padding: 8px 15px 10px 15px;
	text-decoration: none;
	text-align: right;
	vertical-align: top;
	color: white;
	background: #a1b4a9;
	background-image: url("../img/spritesheet.png");
	background-position: 10px -28px;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.login:hover {
	display: inline-block;
	width: 60px;
	padding: 8px 15px 10px 15px;
	text-decoration: none;
	text-align: right;
	vertical-align: top;
	color: black;
	background: #ffffff;
	background-image: url("../img/exit-black.png");
	background-position: 16px 8px;
	background-repeat: no-repeat;
}
.login2 {
	display: none;
	position: relative;
	top: 5px;
	right: 150px;
	width: 238px;
	height: 174px;
	margin: 0;
	padding: 20px;
	background: #f8f7f4;
	box-shadow: 0 10px 12px 3px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
.login2 .pass, .login2 .reg {
	display: inline-block;
	display: block;
	margin-top: -3px;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
	vertical-align: super;
}
.form-exit {
	position: absolute;
	bottom: 25px;
	right: 20px;
}
.login2 input {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	opacity: 0.6;
	padding: 9px 50px 9px 15px;
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.basket {
	display: inline-block;
	width: 80px;
	padding: 8px 44px 10px 10px;
	margin: 0;
	text-decoration: none;
	text-align: right;
	vertical-align: top;
	color: white;
	background: #a1b4a9;
	background-image: url("../img/spritesheet.png");
	background-position: 12px 3px;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.basket-full {
	display: inline-block;
	width: 80px;
	padding: 8px 26px 10px 22px;
	margin: 0;
	text-decoration: none;
	text-align: right;
	vertical-align: top;
	color: black;
	background: #ffffff;
	background-image: url("../img/basket-full.png");
	background-position: 14px 7px;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.basket-full a {
	text-align: right;
}
.search {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 1px 0;
	background: #a1b4a9;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: 2px -56px;
	border-radius: 50%;
}
.search:hover{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 1px 0;
	background: #ffffff;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: 2px -84px;
	border-radius: 50%;
}
.search .menu-search {
	display: none;
	position: absolute;
	top: 35;
	right: 0;
	display: none;
	width: 340px;
	height: 84px;
	background: #f8f7f4;
	box-shadow: 0 10px 12px 3px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	border: none;
}

.search:hover .menu-search {
	display: block;
}

.menu-search input[type="search"] {
	padding: 12px 15px;
	margin: 20px 15px;
	width: 310px;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid rgba(0, 0, 0, 0.3);
	opacity: 0.5;
	border-radius: 5px;
}

.search input[type="submit"] {
	display: none;
}

.main-header .num-phone {
	margin-top: 5px;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}
.main-header .time-work {
	margin-top: 20px;
}
.main-header .num-phone, .main-header .time-work {
	float: right;
}
/*Style for body*/

.promo {
	width: 100%;
	margin-bottom: 40px;
	padding: 0;

}
.section-left {
	float: left;
	width: 560px;
	height: 229px;
	padding: 0;
	margin: 0;
	background: url("../img/raspberries-background.png") no-repeat;
}
.section-right {
	float: right;
	width: 560px;
	height: 229px;
	padding: 0;
	margin: 0;
	background: url("../img/chocolate.png") no-repeat;
}
.info-content {
	padding: 10px 20px 5px 20px;
}
.promo p {
	padding: 0 30px 0 20px;

}
.get-btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 600;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-sizing: border-box;
}

.get-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.get-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.main-body {
	margin-bottom: 30px;
}
.promo a{
	margin-right: 20px;
	margin-top: 40px;
	padding: 10px 20px 10px 20px;
	float: right;
}
.range {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 35px;

}
.ice-cream {
	position: relative;
	float: left;
	width: 23%;
	height: 370px;
	padding: 9px 10px;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto Medium", "Arial", sans-serif;
	text-align: center;
}
.ice-cream a {
	color: #ffffff;
}
.ice-cream img {
	margin: 5px auto;
	margin-bottom: 10px;
}
.ice-cream .price {
	position: absolute;
	bottom: 116px;
	left: 10px;
	font-size: 45px;
	line-height: 50px
}
.hit::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 61px;
	height: 61px;
	background: url("../img/hit.png") no-repeat;
}
.display-btn {
	display: none;
}
.ice-cream:hover .display-btn { 
	display: block; 
	position: absolute; 
	bottom: -30px;
	left: 0px; 
	width: 265px; 
	height: 400px; 
	z-index: 100; 
	padding: 8px 10px; 
	background-color: rgba(255, 255, 255, 0.3); 
	background-repeat: no-repeat; 
	background-position: center 9px; 
	border-radius: 5px; 
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
	text-decoration: none; 
}
.ice-cream:hover .specification {
	border-bottom: none;
}
.quick-view {
	position: absolute;
	bottom: 20px;
	left: 28px;
}

.ice-cream:nth-child(4n) {
	margin-right: 0px;
}


/*Кнопка для быстрого просмотра*/

.specification {
	margin: 0 5px;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.advantages {
	width: 100%;
	margin-bottom: 40px;
	padding: 10px 0 0 20px;
	background-image: url("../img/wafer-background.jpg");
	color: black;
	box-sizing: border-box;
	border-radius: 15px;
}
.advantages-content {
	float: left;
	width: 50%;	
	margin: 0;
	padding: 22px 20px 25px 62px;
	font-size: 16px;
	line-height: 22px;
	box-sizing: border-box;
}
.iconica1 {
	background: no-repeat;
	background-image: url("../img/ice-cream.png");
}
.iconica2 {
	background: no-repeat;
	background-image: url("../img/leaf.png");
}
.iconica3 {
	background: no-repeat;
	background-image: url("../img/cow.png");
}
.iconica4 {
	background: no-repeat;
	background-image: url("../img/thermometer.png");
}
.block {
	width: 100%;
	margin-bottom: 40px;

}
.news {
	float: left;
	width: 560px;
	height: 220px;
	color: black;
	background: url("../img/strawberry-background.jpg") no-repeat;
	border-radius: 15px;
}
.news div {
	padding: 30px 0px 15px 20px;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;

}
.news a {
	display: inline-block;
	padding-left:20px;
	font-size: 24px;
	line-height: 30px;
	width: 285px;
	color: black;
}

.subscription{
	float: right;
	width: 560px;
	height: 220px;
	color: black;
	font-weight: normal;
	color: #6f6f6f;
	font-size: 16px;
	line-height: 22px;
	background: url("../img/post-background.jpg") no-repeat;
	border-radius: 15px;
}
.subscription div{
	padding: 40px 25px 0 25px;
}
.forma {
	width: 508px;
	margin: 0 auto;

}
.subscription input[type="text"]{
	margin-top: 40px;
	width: 330px;
	padding: 12px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	opacity: 0.5;
}
.subscription input[type="submit"] {
	display: inline-block;
	margin-top: 40px;
	margin-left: 10px;
	padding: 12px 22px;
	font-weight: 600;
	font-size: 18px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	box-sizing: border-box;
	border: none;
}

.subscription input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.subscription input[type="submit"]:active {
	background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Style for catalog.html body*/

}
.breadcrumbs {
	margin: 0;
	padding: 0;
	width: 350px;
}
.breadcrumbs li{
	display: inline-block;
	margin-right: 20px;
	padding: 0;
	min-height: 25px;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

}
.breadcrumbs a {
	margin: 0;
	padding: 0;
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;

}
.breadcrumbs a::after {
	display: block;
	content: " ";
	height: 1px;
	padding-top: 0;
	background: rgba(256, 256, 256, 0.3);
}
.ars a::after {
	display: block;
	content: " ";
	width: 5px;
	height: 5px;
	background-image: url("../img/spr-arrows.png");
	background-position: ;
}
.main-ice-cream {
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 25px;
	margin-top: -20px;
}
/*Style for form*/
.fillers {
	width: 900px;
	height: 130px;
	margin-bottom: 38px;
	padding: 0;
	font-weight: normal;

}
.fillers legend {
	margin-bottom: 5px;
}
.set-sorting {
	display: inline-block;
	border: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}
.set-sorting select {
	border-radius: 15px;
	padding: 5px 8px;
	background: #a1b4a9;
	border: none;
	color: #ffffff;
}
.set-sorting select:hover {
	border-radius: 15px;
	padding: 5px 8px;
	background: #ffffff;
	border: none;
	color: #000000;
}
.set-sorting input {
	display: none;
}
.popularity {
	display: inline-block;
	background: #ffffff;
}
.set-sorting label {
	background: #a1b4a9;
	padding: 6px 10px;
	border-radius: 15px
}

.apply {
	padding: 4px 16px;
	border: 2px solid #ffffff;
	border-radius: 15px;
	color: #ffffff;
	background: #a1b4a9;	
}
/*Кнопка применить*/
.apply:hover {
	padding: 4px 16px;
	border: 2px solid #ffffff;
	border-radius: 15px;
	color: #000000;
	background: #ffffff;	
}
.apply:active {
	padding: 4px 16px;
	border: 2px solid #ffffff;
	border-radius: 15px;
	color: #000000;
	background: rgba(255, 255, 255, 0.9);
	box-shadow:inset 0 1px 1px 0px rgba(0, 0, 0, 0.5);

}

/*Style for input range-controls*/
.fillers .range-controls {
	position: relative;
	height: 20px;
	padding: 5px 10px;
	background: #a1b4a9;
	border-radius: 15px;
	
}
.fillers .scale {
	margin-top: 8px;
	height:2px;
	background:#d7dcde;
}
.fillers .bar {
    height:2px;
    background:#ffffff;
}
.fillers .toggle {
    position:absolute;
    top: 6px;
    left: 35px;
    width: 2px;
    height: 2px;
    border: 8px solid white;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}
.fillers .min-toggle {
    left: 30px;
}
.fillers .max-toggle {
    left: 120px;
}





/*The end*/

.buttons {
	float: right;
	width: 220px;
	padding: 0;
	margin: 0;

}
.buttons ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.buttons a {
	text-decoration: none;
	color: #ffffff;
	font-family: "Roboto Medium", sans-serif;
	font-weight: normal;
	padding: 1px 6px;
}
.buttons a:hover {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 1px 6px;

}
.buttons a:active {	
	border-radius: 50%;
	color: black;
	background: #ffffff;
	box-shadow: 0 0 10px 20px rgba(255, 255, 255, 0);
	padding: 1px 6px;
}
.buttons .one-click {
	border-radius: 50%;
	padding: 1px 6px;
	color: black;
	background: #ffffff;

}
.btn .prev {
	background-image: url("../img/sprites-arrows.png");
	background-position: -149px -197px; 
	width: 9px;
	height: 14px;
	margin-right: 8px;
}
.btn .next {
	background-image: url("../img/sprites-arrows.png");
	background-position: -205px -154px;
	width: 9px;
	height: 17px;
	margin-left: 8px;
}
.coordinates {
	position: relative;
	border: 1px solid white;
}
.address a {
	
}
.map {
	width: 100%;
	height: 430px;
	z-index: 2;
}

.address {
	position: absolute;
	top: 62px;
	right: 25px;
	width: 300px;
	height: 305px;
	padding: 30px 20px 20px 20px;
	border-radius: 15px;
	z-index: 30;
	color: black;
	background: white;
	word-wrap: break-word;
	box-sizing: border-box;
}
.address .content:nth-child(odd) {
	font-family: "Roboto Regular", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	width: 172px;
	word-wrap: break-word;
}
.address .content:nth-child(even) {
	font-family: "Roboto Bold", sans-serif;
	font-size: 18px;
	line-height: 24px;
	width: 250px;	
}
.content1 {
	margin-bottom: 5px;
}
.content3 {
	margin-top: 20px;
	margin-bottom: 5px;
}

.content4 {
	margin-bottom: 5px;
}
.content5 {
	margin-bottom: 20px;
}
.form-btn {
	display: inline-block;
	padding: 14px 30px;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
background: -webkit-linear-gradient(#f26843 0%, #e74a35 100%);
background: -o-linear-gradient(#f26843 0%, #e74a35 100%);
background: linear-gradient(#f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	box-sizing: border-box;
}
.form-btn:hover {
background: -webkit-linear-gradient(#f58669 0%, #ec6f5e 100%);
background: -o-linear-gradient(#f58669 0%, #ec6f5e 100%);
background: linear-gradient(#f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.form-btn:active {
	background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Style for footer*/

.main-footer {
	height: 108px;
	margin-top: 45px;
}
.footer-social {
	float: left;
	width: 185px;
	padding: 0 20px;
}
.social-btn {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 12px;
	font-size: 0;
	text-decoration: 0;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .5);
	-moz-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .5);
	-webkit-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .5);
}

.social-btn:hover {
	box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85);
	-moz-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85);
	-webkit-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85);

}
.social-btn:active {
	box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85), inset 0px 2px 1px 1px rgba(154, 154, 154, 1);
	-moz-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85), inset 0px 2px 1px 1px rgba(154, 154, 154, 1);
	-webkit-box-shadow: 0px 0px 0px 4px rgba(194, 206, 199, .85), inset 0px 2px 1px 1px rgba(154, 154, 154, 1);

}
.social-tw {
	background: url("../img/twiter.png") no-repeat center;
}
.social-inst {
	background: url("../img/inst.png") no-repeat center;
}
.social-fb {
	background: url("../img/fb.png") no-repeat center;
}
.social-vk {
	background: url("../img/vk.png") no-repeat center;
}


.footer-documentation {
	float: left;
	width: 335px;
	margin-left: 180px;
	font-weight: normal;
}
.footer-documentation a {
	display: inline-block;
	padding: 0 10px 0 18px;
	color: #ffffff;
	font-size: 13px;
	line-height: 16px;
	opacity: 0.7;
	text-decoration: none;
}
.footer-documentation a:nth-child(3) {
	margin-right: 12px;
}
.footer-documentation a:hover {
	background: url("../img/heart.png") no-repeat;
	opacity: 1;
}
.footer-documentation a::after {
	display: block;
	content: " ";
	height: 1px;
	padding-top: 0;
	background: rgba(256, 256, 256, 0.3);
}
.footer-documentation .for-providers {
	background: url("../img/heart.png") no-repeat;
	color: #ffffff;
	opacity: 1;
}
.footer-copyright {
	float: right;
	margin: -15px 0 0 0;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
}
.footer-copyright a {
	color: #ffffff;

}
